@font-face {
  font-family: 'Traditio';
  font-style: normal;
  src: local('Traditio'), local('Traditio-Regular'), url(http://download1913.mediafireuserdownload.com/af4exp57cpjg/pmb6hmq5o1u3ijr/Traditio.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}